@charset "utf-8";
/* 基础css 初始化样式会对SEO有一定的影响，但鱼和熊掌不可兼得，但力求影响最小的情况下初始化。*/

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body{ font-size:12px; line-height:12px;}
ul,ol{ list-style:none;}
a{ color:#000; text-decoration:none;}
h1,h2,h3,h4,h5,h6{ font-size:100%;}
address, cite, dfn, em, var, i{ font-style:normal;}
b,strong{ font-weight:normal;}
a img{ border:none;}
img{ vertical-align:top;}/*清除图片的BUG*/
.clearfix:after{display:block; content:''; clear:both; height:0; visibility: hidden;}/*清浮动*/
.clearfix{ zoom:1;}
a,input,textarea{outline:none;}/*清除input边框变色*/ 
input:focus,textarea:focus,select:focus{ outline:none;}
textarea{resize:none;}/*清楚文本域的拖拽角*/
table{ border-collapse:collapse;border-spacing:0;}
th,td{border:1px solid red; padding:0;}/*表格默认样式清楚*/
.fl{ float:left;}
.fr{ float:right;}
/* filter:alpha(opacity=70);opacity:0.7; */
/* filter:progid:DXImageTransform.Microsoft.AlphaImageLoader 解决ie6png图片不透明的部分问题不能完全解决*/
/* filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#B2000000,endcolorstr=#B2000000); 解决低版本块内元素呢都被透明的问题*/

/*淘宝的*/
/* body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; } */



/*flex 布局*/
/*.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
}

.col.col-3 {
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  width: 25%;
}

.cols {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.cols.cols-middle {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.cols.cols-bottom {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.cols.cols-center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.cols.cols-right {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-left: auto;
}
.cols.cols-space-between {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.cols.cols-space-around  {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}*/
